# Python
__pycache__/
*.pyc
*.pyo

# Python virtual environments
venv/
.venv/
env/
.env/

# Settings files
*.env

# Database
*.db

# Debug files
debug_*.html

# Logging
*.log
logs/

# VSCode or IDE
.vscode/
.idea/
